{% for user_drawing in user_drawings %}
{% set user = user_drawing.0 %}
{% set drawing = user_drawing.1 %}
<div class="drawing-list-container">
    <div class="drawing-list-user-container">
        <div class="username">
            {{user.username}}
        </div>
        <a href="/user/{{user.id}}">
            <div class="wasm-user-div" data-points="{{ user.profile_pic }}" data-width="{{user.profile_pic_width}}">
            </div>
        </a>
        {% if current_user_id and current_user_id == drawing.user_id %}
        <div class="delete-drawing">
            <form action="/delete_drawing/{{drawing.id}}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" title="Delete">🗑</button>
            </form>
        </div>
        {% endif %}

    </div>
    <div class="drawing-list-item-container">
        <div class="drawing-list-item wasm-canvas-div" data-points="{{ drawing.points }}"
            data-width="{{drawing.width}}"></div>
    </div>
</div>
{% endfor %}
<div class="pagination">
    {% if page.prev_page %}
    <a href="{{page.prev_page}}">❮</a>
    {% endif %}
    {% if page.next_page %}
    <a href="{{page.next_page}}">❯</a>
    {% endif %}
</div>

<script>
    wasmImport.then((wasm) => {
        wasm.create_canvas_drawing("drawing-list-item");
        wasm.create_canvas_drawing("wasm-user-div");
    });

</script>