{% extends "base" %}
{% set method = "post" %}
{% set action = "/create" %}


{% block title %}
Home
{% endblock title %}
{% block script %}
<script src="/static/dist/main.js"></script>
{% endblock script %}
{% block left_col %}
{% include "partials/user_badge" %}
{# {{ macros::user_badge(user = user) }} #}
{% endblock left_col %}
{% block center %}
{% include "partials/canvas_form" %}
{% include "partials/drawings_list" %}
{% endblock center %}