<!DOCTYPE html>
<html>
<title>{{name}}</title>
<script src="static/main.js"></script>

<body>


    <form method="post" action="/create" id="canvas-form">
        <label for="points">First name:</label><br>
        <input type="hidden" id="points" name="points"><br>
        <input type="button" id="canvas-button" value="Submit">
    </form>
</body>

</html>