{% extends "base" %}
{% block title %}
Signup
{% endblock title %}
{% block center %}

<a href="/users/signup"> SignUp</a>
{# {% endif %} #}
<form method="post" action="/users/session">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" id="submit-button" value="Submit">

</form>
{% endblock center %}