{% extends "base" %}

{% block title %}
Edit
{% endblock title %}
{% block script %}
<script src="/static/dist/main.js"></script>
{% endblock script %}
{% block center %}
{% include "partials/canvas_form" %}
{% endblock center %}