.container {
    display: grid;
    grid-template-columns: 28% 47% 22%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 10px;
}

.col-left {
    grid-column: 1 / 2;
    padding: 10px 20px;
    /* text-align: center; */
}

.col-centre {
    grid-column: 2 / 3;
    padding: 10px 80px;
    /* border: 2px red solid; */
    /* text-align: center; */
}

.col-right {
    grid-column: 3 / 4;
    /* text-align: center; */
}

#drawing-canvas {
    border: 1px slategrey solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

#canvas-form-div,
.drawing-list-item {
    text-align: center;
    width: 100%;
}

header {
    background-color: #e7e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
    border-bottom: #d0d1d3 1px solid;
}

header .logo-title {
    margin: auto;
    text-decoration: none;
    font-size: 34px;
    font-weight: 600;
    color: royalblue;
    font-family: Brush Script MT, cursive;
}

body {
    margin: 0;
    background-color: #f7f7f7;
}

.account-reg form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
}

.account-reg input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.account-reg .acc-button {
    background-color: #0077ff;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    max-width: 300px;
}

.account-reg .acc-button:hover {
    background-color: #0066cc;
}

.account-reg .login-acc {
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
}

.account-reg .login-acc a {
    color: #0077ff;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.account-reg .login-acc a:hover {
    color: #0066cc;
}

.btn {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 16px;
}

.btn.signin-btn {
    background-color: #2cb950;
}

.btn.signout-btn {
    background-color: #ee6452;

}

.account-header h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 2rem;
}


.message {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.close {
    cursor: pointer;
    font-size: 16px;
}

.user-badge-container {
    background-color: #e8f0fa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.user-badge-container .edit-icon {
    font-size: 22px;
    margin-left: 5px;
    margin-top: -35px;
}

.user-badge-container .edit-link {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

canvas {
    background-color: #fff;
}

.user-badge-container canvas,
.wasm-user-div canvas {
    border-radius: 50%;
    border: #cadff7 2px solid;
}

.user-badge-name {
    text-align: left;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.badge-welcome-container {
    text-align: center;
}

.badge-welcome-header {
    font-size: 18px;
}

.badge-welcome-subheader {
    font-size: 14px;
}

.badge-welcome-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge-welcome-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #eee;
    text-decoration: none;
    color: black;
}

.logout-header-btn {
    border: none;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.start-doodling {
    font-weight: 400;
    color: #8b8d8f;
    padding: 10px 0;
}

.drawing-list-item .wasm-added-canvas {
    border: 1px lightsteelblue solid;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.user-badge-canvas-div {
    width: 100%;
}

/* .canvas-form-div-container {
    width: 90%;
} */

.drawing-list-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid rgb(199, 248, 246);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

.drawing-list-container .drawing-list-user-container {
    width: 20%;
    position: relative;
}

.drawing-list-user-container .username {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.drawing-list-user-container .wasm-user-div {
    /* padding: 5px 5px; */
    margin: 5px;
}

.drawing-list-container .delete-drawing {
    align-self: flex-end;
    position: absolute;
    bottom: 5px;
    right: 35%;
    /* position: absolute;
    bottom: 0; */
}

.drawing-list-container .delete-drawing button {
    /* border-radius: 50%; */
    color: #3d3d3d;
    background-color: rgb(252, 83, 71);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.drawing-list-container .drawing-list-item-container {
    width: 75%;
}